##exportPattern("^[[:alpha:]]+")
export("baseCountsFromBamList","mutationCallsFromCohort","mutationCallsFromExclusionlist","mut2GR","pullcountsVars","mutationCallsFromMatrix")
export("varCluster","quick_cluster","clusterMetaclones","overwriteMetaclones","plotClones","getCloneLikelihood","removeWindow","mitoPlot")
export("getAlleleCount","setVarsCandidate","getVarsCandidate","getMut2Clone")
export("bam2R_10x")
import(Rhtslib)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "par")
importFrom("stats", "cutree", "dist", "end", "hclust", "start")
importFrom("utils", "read.csv", "read.table", "write.table")
importFrom("GenomicRanges", "GRanges","findOverlaps","seqnames","start","end","width","resize")
importFrom("parallel", "mclapply")
importFrom("methods", "new", "slot")
importFrom("deepSNV", "bam2R")
import(ggplot2)
useDynLib(mitoClone2)
