##exportPattern("^[[:alpha:]]+")
export("baseCountsFromBamList","mutationCallsFromCohort","mutationCallsFromBlacklist","mut2GR","pullcountsVars","mutationCallsFromMatrix")
export("varCluster","quick_cluster","clusterMetaclones","overwriteMetaclones","plotClones")
export("bam2R_10x")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "par")
importFrom("stats", "cutree", "dist", "end", "hclust", "start")
importFrom("utils", "read.csv", "read.table", "write.table")
importFrom("GenomicRanges", "GRanges","findOverlaps","seqnames","start","end","width")
importFrom("parallel", "mclapply")
import(Rhtslib)
useDynLib(mitoClone2)
